body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}body{background:#fff;color:#555;font-size:14px;font-family:Verdana,Arial,Helvetica,sans-serif}td,th,caption{font-size:14px}h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}a{color:#555;text-decoration:none}a:hover{text-decoration:underline}img{border:none}ol,ul,li{list-style:none}input,textarea,select,button{font:14px Verdana,Helvetica,Arial,sans-serif}table{border-collapse:collapse}html{overflow-y:scroll}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{*zoom:1}
.header{
	margin:0 auto;
	width:700px;
	text-align:justify;
	#logo{
		display: inline-block;
		font-size: 50px;
	}
	#social-links{
		display: inline-block;
		font-size: 20px;
	}
	&:after{content: '';
    display: inline-block;
    width: 100%;}
}
.navi{
	margin:0 auto;
	width:700px;
	position: relative;
	a{
		color: #b0b0b0;
		font-size: 30px;
		width: 200px;
		display: inline-block;
		&:hover{color:#6f6f6f;}
	}
}
.content{
	margin:0 auto;
	width:700px;
	position: relative;
}